# Copia este archivo como ".env" y coloca tus datos reales.
# NUNCA subas el archivo ".env" a GitHub (agrégalo a .gitignore).

DB_HOST=bd-comparador-aws.ckpeugu0i6fq.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=coloca_tu_password_aqui
DB_NAME=bd_comparador_tecnologico
DB_PORT=3306
